<section class="mt-2 w-full text-center flex justify-center">
  <div class="pmax-w-lg p-5 border-2 border-blue-500 rounded-md">
    <h1>Seja bem vindo ao <b class="text-blue-500">PETEG!</b></h1>
  </div>
</section>

<section class="w-full text-center mt-3">
  <span>Um espaço pra você compartilhar fotos de pets da ETEG</span>
  <div>
    <span>Confira abaixo imagens dos pets da ETEG:</span>
  </div>
  <div class="w-full flex justify-center mt-3">
    <div class="w-full max-w-lg p-4 space-x-4 carousel carousel-center bg-neutral rounded-box">
      <ng-container *ngIf="petPhotos$ | async as petPhotos; else noPetsPhotosMessage">
        <ng-container *ngIf="petPhotos.length > 0; else noPetsPhotosMessage">
          <ng-container *ngFor="let photo of petPhotos">
            <div class="carousel-item carousel-item__container">
              <div class="w-full">
                <img
                  *ngIf="!photo.isLoading; else loadingTemplate"
                  [src]="photo.src" 
                  class="rounded-box w-full"
                >
              </div>
              
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>

<section class="mt-2 w-full flex justify-center">
  <div class="w-full md:w-1/2 border-2 border-blue-500 rounded-md m-2 p-4 text-center">
    <b>Adicione você também uma imagem do seu pet!</b>
    <form
      class="flex flex-col justify-center" 
      [formGroup]="addPetPhotoForm"
      (ngSubmit)="addPetPhoto()"
    >
      <div class="form-control">
        <label class="label">
          <span class="label-text">
            Seu nome:
            <span class="text-red-500">*</span>
          </span>
        </label>
        <input
          class="input input-bordered"
          type="text"
          formControlName="username"
        />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">
            Nome do seu pet:
            <span class="text-red-500">*</span>
          </span>
        </label>
        <input
          class="input input-bordered"
          type="text" 
          formControlName="petName"
        />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">
            Foto do seu pet:
            <span class="text-red-500">*</span>
          </span>
        </label>
        <div
          *ngIf="addPetPhotoForm.get('petPhoto')?.value; else noPetPhotoAddedTemplate"
          class="
            grid grid-cols-1
            md:grid-cols-2 md:grid-rows-2
          "
        >
          <div class="row-span-1 md:row-span-2">
            <img [src]="(addPetPhotoForm.get('petPhotoSource')?.value | imageToBase64 | async) | safeValue">
          </div>
          <div class="row-span-1">
            <button class="btn" (click)="petPhotoUpload.click()" type="button">
              Trocar Foto
            </button>
          </div>
          <div class="row-span-1">
            <button 
              class="btn" 
              type="submit"
              [disabled]="addPetPhotoForm.invalid"
            >
              Enviar Foto
            </button>
          </div>
        </div>
        <input 
          type="file" 
          accept="image/*" 
          hidden 
          formControlName="petPhoto" 
          #petPhotoUpload
          (change)="onPetPhotoChange($event)"
        />
      </div>
    </form>
  </div>
</section>
<section *ngIf="swPush.isEnabled && !(swPush.subscription | async)">
  <div class="w-full flex justify-center mb-3">
    <button class="w-full md:w-1/2 btn w-full" type="button" (click)="requestSubscription()">
      Habilitar notificações
    </button>
  </div>
</section>

<ng-template #loadingTemplate>
  <div class="w-full h-full">
    <div class="loader"></div>
  </div>
</ng-template>

<ng-template #noPetPhotoAddedTemplate>
  <div 
    class="
      w-full h-20 
      border-4 border-blue-500 border-dashed rounded-lg
      flex justify-center items-center
      cursor-pointer
      "
      (click)="petPhotoUpload.click()"
  >
    <span class="
      h-full flex items-center
      text-blue-500 font-bold
    ">
      Adicionar Foto
    </span>
    
  </div>
</ng-template>

<ng-template #noPetsPhotosMessage>
  <div class="text-white w-full text-center">
    <p>Ainda não temos fotos de pets adicionados &#128532;</p>
    <p>Preencha o formulário abaixo para adicionar uma foto &#57426;&#57423;</p>
  </div>
</ng-template>